@model Shopping_Cart.Models.ShoppingCarts
@{
    ViewData["Title"] = "Cart";
}
@if (ViewBag.Item == null)
{
    <h1 class="text-danger">Item not found</h1>
}
else
{
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-success text-center fw-bold">
                        Price Detail
                    </h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between fw-bold pt-2">
                        <h5 class="p-2">Price</h5>
                        <span class="text-success mr-1 all-price">@Model.TotalPrice</span>
                    </div>
                    <div class="d-flex justify-content-between fw-bold pt-2">
                        <h5 class="p-2">Save Amount</h5>
                        <span class="text-success mr-1 save-amt">@Model.DiscountAmount</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between fw-bold pt-2">
                        <h5 class="p-2">Total Amount :</h5>
                        <span class="text-success mr-1 net-amt">@Model.NetAmount</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.shoppingCartDetails)
            {
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center fw-bold">
                                @item.ProductName
                            </h4>
                        </div>
                        <div class="card-body">
                            <img src="@item.ProductImage" class="card-img-top" alt="@item.ProductName" height="300" width="200" />

                            <div class="d-flex justify-content-between fw-bold pt-2">
                                <input type="hidden" value="@item.ProductPrice">
                                <span class="card-title text-success mr-6">
                                    <button class="btn btn-danger remove" onclick='window.location = "@Url.Action("Remove", "Shopping", new {productId=item.ProductId})";'>Remove</button>
                                    <span class="item">@item.Item</span>
                                    <button class="btn btn-success add" onclick='window.location = "@Url.Action("Add", "Shopping", new {productId=item.ProductId})";'>Add</button>
                                </span>
                                <span class="card-title text-success mr-6">Price<span class="card-title text-danger ">:<i class="fa-solid fa-indian-rupee-sign"></i>@item.ProductPrice</span></span>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}
