@model IEnumerable<Ecommerce.Models.ProductModel>
@using static Ecommerce.Database.Cart;
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align : center">Product List</h1>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                    @if (CartItems.Contains(item))
                    {
                        @Html.ActionLink("Edit", "AddedToCart", new {ProductId = item.ProductId })
                        <span style="margin-right: 15px"></span>
                        @Html.ActionLink("Remove", "RemoveItem", new { ProductId = item.ProductId }, new { @class = "remove-link", onclick = "return confirm('Are you sure you want to remove this item?');" })
                    }
                    else
                    {
                        @Html.ActionLink("Add To Cart", "AddedToCart", new {ProductId = item.ProductId })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
*@

<div style="display:flex; flex-wrap: wrap; justify-content: center">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; margin: 25px;">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;}">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ProductDescription</p>
                @if (CartItems.Contains(item))
                {
                    <div style="display: flex">
                        @Html.ActionLink("Edit", "AddedToCart", new {ProductId = item.ProductId }, new { @class = "btn btn-secondary"})
                        <span style="margin-right: 15px"></span>
                        @Html.ActionLink("Remove", "RemoveItem", new { ProductId = item.ProductId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to remove this item?');"})
                    </div>
                }
                else
                {
                    <span class="card-link" style="display: flex;">@Html.ActionLink("Add To Cart", "AddedToCart", new {ProductId = item.ProductId }, new { @class = "btn btn-primary"})</span>
                }
            </div>
        </div>
    }
</div>
