
@model IEnumerable<Employee>


@if(Model.Count() > 0)
{
    <h4>Employee List</h4>
    <div class="card">
        <div class="card-header bg-secondary text-white fw-bold">

            <div class="row font-weight-bold">
                <div class="col-2"> ID</div>
                <div class="col-2"> Name</div>
                <div class="col-2">Contact No</div>
                <div class="col-2">Date Of Birth</div>
                <div class="col-2">Department</div>
                <div class="col-2">Action</div>
            </div>
        </div>
        <div class="card-body">
            @foreach (var employee in Model)
            {
                <div class="row my-2">
                    <div class="col-2">@employee.EmployeeId</div>
                    <div class="col-2">@employee.EmployeeFirstName @employee.EmployeeLastName</div>
                    <div class="col-2">@employee.ContactNo</div>
                    <div class="col-2">@employee.DateOfBirth.ToString("dd/MM/yyyy")</div>
                    <div class="col-2">@employee.Department</div>
                    <div class="col-2">
                        <a asp-action="Details" asp-route-id="@employee.EmployeeId" class="btn btn-sm btn-primary"><i class="fa fa-info-circle"></i></a>
                        <a asp-action="Edit" asp-route-id="@employee.EmployeeId" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@employee.EmployeeId" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="row my-2">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-dark"><i class="fa fa-user"></i> Add New Employee</a>
        </div>
    </div>
}
else
{
    <div class="row text-center">
        <h2 class="text-danger">No Data Found.</h2>
        <h3 class="text-secondary">Click Below to Add New Employee</h3>
    </div>
    <div class="row">
        <div class="offset-5 col-2">
            <a asp-action="Create" class="btn btn-dark"><i class="fa fa-user"></i> Add New Employee</a>
        </div>
    </div>
}




